@font-face{
    font-family: 'PixelFont';
    src: url('SVN-Determination Sans.ttf') format('truetype');
}
body{
	font-family: 'PixelFont', Tahoma;
    letter-spacing: 0.2px;
    margin: 0;
    min-height: 100vh;
    background: #008080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 64px;
    gap: 32px;
}
header{
	text-align: center;
	color: #fff;
}
.window{
    width: 88%;
    background: #c0c0c0;
    border: 2px solid;
    border-color: #fff #404040 #404040 #fff;
    box-shadow: 2px 2px 0 #000;
}
.window-content{
    padding: 10px;
    background: url(skeleton-running.gif) , #c0c0c0;
    background-size: 100% 100%;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.title-bar{
    background: #000080;
    height: 32px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-weight: bold;
}
.title-buttons{
    display: flex;
    gap: 2px;
}
.title-buttons button{
    width: 30px;
    height: 29px;
    background: #c0c0c0;
    border: 2px solid;
    border-color: #fff #404040 #404040 #fff;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}
.title-buttons button:active{
    border-color: #404040 #fff #fff #404040;
}
.content-row{
	display: flex;
	gap: 16px;
	align-items: flex-start;
}
.text{
	flex: 1;
}
.window iframe, video{
    flex: 1;
    width: 100%;
    border: none;
}
.avatar{
    display: flex;
    align-items: center;
    gap: 8px;
}
.avatar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.icon2{
    width: 16px;
    height: 16px;
}
footer{
    width: 99.6%;
    background: #c0c0c0;
    border: 2px solid;
    border-color: #fff #404040 #404040 #fff;
    box-shadow: 2px 2px 0 #000;
}
.left{
    display: inline-block;
    align-items: center;
    gap: 4px;
}
.taskbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-top: 2px solid #fff;
    box-sizing: border-box;
}
.start-button{
    display: inline-block;
    align-items: center;
    gap: 8px;
    padding: 2px 6px;
    background: #c0c0c0;
    border: 2px solid;
    border-color: #fff #404040 #404040 #fff;
    font-size: 18px;
    cursor: pointer;
}
.start-button:active{
    border-color: #404040 #fff #fff #404040;
}
.icon-button{
    display: inline-block;
    align-items: center;
    gap: 8px;
    padding: 2px 6px;
    background: #c0c0c0;
    border: 2px solid;
    border-color: #fff #404040 #404040 #fff;
    font-size: 18px;
    cursor: pointer;
}
.icon-button:active{
    border-color: #404040 #fff #fff #404040;
}
.clock{
    padding: 4px 10px;
    border: 2px solid;
    border-color: #404040 #fff #fff #404040;
    font-size: 16px;
    background: #c0c0c0;
}
